$headerHeight: 50px;
$disabledColor: #dcdfe6;
$primaryColor: #9e7eff;
.flex {
    display: flex;
    &.align-center {
        align-items: center;
    }
}
.cursor-pointer {
    &:hover {
        cursor: pointer;
    }
    cursor: pointer;
}
