:root {
    --primary-dark-color: #bb86fc;
    --primary-bright-color: #6200ee;
    --second-dark-color: #f18155;
    --second-bright-color: #f85210;
    --primary-dark-color-rgb: 187, 134, 252;
    --primary-bright-color-rgb: 98, 0, 238;
    --default-color: #dcdfe6;
}
