.dark {
    background-color: #1e1f21;
    #header {
        background-color: #292a2d;
        color: #919191;
        box-shadow: 0 3px 6px rgba(var(--primary-dark-color-rgb), 0.16), 0 3px 6px rgba(var(--primary-dark-color-rgb), 0.23);
    }
    #menuContainer {
        background-color: #292a2d;
        color: #919191;
    }
    .bars__contents {
        & .bar-piece {
            background-color: var(--primary-dark-color);
        }
    }
    #menuContainer {
        // box-shadow: 0 3px 6px rgba(var(--primary-dark-color-rgb), 0.16), 0 3px 6px rgba(var(--primary-dark-color-rgb), 0.23);
        background-color: $thirddColor;
    }
    #menuItemContainer {
        // border-top: 1px solid var(--default-color);
        // border-bottom: 1px solid var(--default-color);
    }
}
.bright {
    #header {
        background-color: var(--primary-bright-color);
    }
    .bars__contents {
        & .bar-piece {
            background-color: var(--default-color);
        }
    }
    #menuContainer {
        box-shadow: 0 3px 6px rgba(var(--primary-bright-color-rgb), 0.16), 0 3px 6px rgba(var(--primary-bright-color-rgb), 0.23);
        background-color: $thirddColor;
    }
    #menuItemContainer {
        // border-top: 1px solid var(--default-color);
        // border-bottom: 1px solid var(--default-color);
    }
}
